#m-container{      
    .m-home{
        height:100%;
        @include flexbox();
        @include flex-direction(column);        
        header{
                width:100%;
                background:#f0f0f0;
                @include border( 0 0 1px 0,#cdd1d2,solid);
                @include flexbox();
                height:.47rem;
                i{
                    width:.37rem;
                    margin:.06rem;
                    img{
                        width:100%;
                    }
                }
                h1{
                   @include flex(); 
                   font-size: .18rem;
                   line-height: .47rem;
                   text-align: center;
                }
            }         
            section{
                width:100%!important;
                @include flex();  
                overflow: hidden;
                         
                .content{
                    width:100%;
                    height: 100%;
//                  @include flex();
                    @include flexbox();
                    @include flex-direction(column);                           
                    nav{
                        width:100%;
                        height:.52rem;    
                        ul{
                            height: .42rem;
                            @include flexbox();
                            li{
                                @include flex();
                                text-align: center;
                                line-height: .42rem;
                                font-weight: bold;
                                color: #FFFFFF;
                                border: 2px solid #fff;
                                background: #558ad0;                     
                                &.active{
                                    border:none;
                                }
                                &:nth-child(2){
                                    background: #55aad0;
                                }
                                &:nth-child(3){
                                    background: #5fb082;
                                }
                                &:nth-child(4){
                                    background: #89bd48;
                                }
                            }            
                        }        
                    } 
                    #home-swiper{
                        width:100%!important;
                        @include flex();                            
                    }
                   h3,ul.orgin{
                        width:100%;                
                        background: $item-bgcolor;
                    }
                    h3{
                        font-size: .15rem;
                        line-height: .45rem;
                        padding-left: .15rem;
                    }
                    ul.orgin{  
                        width:100%;                       
                        @include border( 0 0 1px 0,#cdd1d2,solid); 
                        @include flexbox();                
                        @include justify-content(space-between);
                        li{
                            @include flex();                   
                            padding-top:5px ;
                            padding:0 .15rem  .15rem .15rem;
                            i,b,span{
                                display: block;
                            }
                            i img{
                                width:100%;
                            }
                            b{
                                font-size: 11px;
                                color: #6e6e6e;
                                font-weight: normal;
                                line-height: .24rem;
                               @include ellipsis(100%, 1);
                            }
                            span{
                                font-size: 10px;
                                color: #b1b1b1;
                                line-height: .16rem;
                            }
                        }             
                    }
                    ul.present{
                        margin-top:10px;
                        width:100%;
                        padding:0 .15rem ;
                        @include flexbox();
                        @include flex-direction(column);
                        @include align-items(center);
                        background: $item-bgcolor; 
                        h3{
                            width:100%;
                            height:.45rem;
                            padding: 0;
                        }
                        &>li{
                            width:100%;
                            @include flexbox();
                            height:1.4rem;
                            padding:.1rem 0;
                            @include border( 0 0 1px 0,#cdd1d2,solid);
                            i{
                                img{
                                    width:.9rem;
                                }  
                            }
                            ul{
                                @include flex();
                                width:100%;
                                position: relative;
                                li{
                                    height: 18px;
                                   font-size:14px;                          
                                   line-height: 18px;
                                   color: #b1b1b1;
                                   padding-left: .2rem;
                                   &:first-child{
                                       color:#6e6e6e;
                                       @include ellipsis(100%, 1);
                                   }
                                   &:nth-child(2){
                                       height: .24rem;;
                                       font-size: 10px;
                                       line-height: .24rem;
                                   }
                                   &:nth-child(3){
//                                     height: .24rem;
                                       font-size: 11px;
                                       line-height: .24rem;  
                                       @include ellipsis(100%, 2);                             
                                   }
                                   &:nth-child(4){
                                       padding: 0;
                                       width:.64rem;
                                       height: .26rem;;
                                       font-size: 11px;
                                       line-height: .26rem;
                                       text-indent: 8px;
                                       @include border(1px,#4bac36,solid,7px);
                                       position: absolute;
                                       right: 0;
                                       bottom: 0;                          
                                   }
                                }
                            }
                        }
                        &>li:nth-child(2){
                            height:1.3rem;
                            padding-top:0 ;
                        }
                    }
                    .comeIn{
                        width:100%;
                        height:.35rem;
                        background: #fefff9;
                        text-align: center;
                        line-height: .35rem;
                        font-size: .18rem;
                        @include border( 0 0 1px 0,#cdd1d2,solid);
                    }
                    .wantRead{
                        margin-top: 10px;
                    }
                    .sign{
                        height: .9rem;
                        width:100%;
                        background: #FA7F1C;
                        img{
                            width:100%;
                            height: 100%;
                        }
                    }
                    .copy{
                        width:100%;
                        height:.84rem;
                        text-align: center;
                        position: relative;
                        color: #b1b1b1;
                        div{
                            width:100%;
                            position: absolute;
                            top:50%;
                            @include transform(translate(0, -50%));
    
                            p{
                                font-size: 11px;
                                line-height: .2rem;
                            }
                        }
                    }  
                     .bang{
                        width:100%;
                        padding: 10px 15px 10px 15px;
                        background: #fff;
                        ul{
                            @include flexbox();
                            li{
                                @include flex();
                                font-size: 16px;
                                line-height: 32px;
                                text-align: center;
                                position: relative;
                                margin-right: 10px;
                                width: 100%;
                                color: #fff;
                                border-radius: 5px;
                                &:first-child{
                                    background-color:#f4a5a5;
                                }
                                &:nth-child(2){
                                    background-color:#f2a887 ;
                                }
                                &:nth-child(3){
                                    background-color:#e8be7e ;
                                }                                
                                &:nth-child(4){
                                    background-color:#b4d980;
                                }                                
                                &:nth-child(5){
                                    background-color:#78e2c5 ;
                                }                                
                        } 
                        

                        }
                     }                       
                }           
            }
    }    
}

